<div class="jumbotron cloud">
  <form class="form-cloud" ng-submit="save()" ng-init="init()">
    <h2 class="form-signin-heading">Cloud Interface</h2>
    <label for="server-name" class="sr-only">IP Address</label>
    <input type="text" name="ip" class="form-control" placeholder="IP Address" ng-model="form.ip" size="45" required>
    <label for="port" class="sr-only">Port</label>
    <input type="number" name="port" class="form-control" placeholder="Port" ng-model="form.port" required>
    <label for="uuid" class="sr-only">UUID</label>
    <input type="text" name="uuid" class="form-control" placeholder="UUID" ng-model="form.uuid" size="45" readonly>
    <label for="token" class="sr-only">Token</label>
    <input type="text" name="token" class="form-control" placeholder="Token" ng-model="form.token" size="45" readonly>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ngClick="Submit">Apply</button>
  </form>
</div>