<div class="jumbotron progress" style="padding-right:5%; padding-left:5%; padding-bottom: 96px;" ng-init="progress()">
  <p>The KNoT gateway is rebooting.</p>
  <table style="width:100%; border: 0px;" align="center">
  <tr style="vertical-align:top; background: none;">
    <td style="width:5%; border: 0px; padding: 0px;" align="right">
      <div id="demo">0%</div>
    </td>
    <td style="width:95%; border: 0px; padding: 0px;" align="left">
      <div id="myProgress" class="progress">
        <div id="myBar" class="progress-bar" style="width: 0%;">
        </div>
      </div>
    </td>
  </tr>
  </table>
  <br/>
</div>